@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

.body,
html {
    overflow-y: scroll;
}

.body,
html::-webkit-scrollbar {
    display: none;
}

.body,
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/*  */

.s6-bar-item {
    font-weight: bold;
}

.cbox {
    margin-top: 4%;
}

.s6-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.15)
}

.s6-card-2-light {
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.84), 0 2px 10px 0 rgba(255, 255, 255, 0.84)
}

.s6-card-4-light,
.s6-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.8), 0 4px 20px 0 rgba(0, 0, 0, 0.2)
}

.s6-card-8,
.s6-hover-shadow-dark:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 8px 40px 0 rgba(0, 0, 0, 0.4)
}

.s6-card-8-light,
.s6-hover-shadow-8:hover {
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.8), 0 8px 40px 0 rgba(255, 255, 255, 0.4)
}

.ccc {
    text-transform: uppercase;
}

.desc {
    text-transform: capitalize;
}