@charset "UTF-8";

.divhid {
    -moz-animation: hide 0s linear 3s forwards;
    -webkit-animation: hide 0s linear 3s forwards;
    -o-animation: hide 0s linear 3s forwards;
    animation: hide 0s linear 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hide {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes hide {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}